.booking_body {
  width: 1080px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  vertical-align: middle;
  position: relative;
  background: #ffffff;
}

div.elem-group {
  margin: 20px 0;
}

div.elem-group.inlined {
  display: inline-block;
  margin-left: 3%;
  float: left;
  width: 20%;
}

label {
  font-family: Arial, sans-serif;
  padding-bottom: 10px;
  font-size: 1.25em;
  display: block;
}

input,
select,
textarea {
  border-radius: 2px;
  border: 2px solid #777;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: Arial, sans-serif;
  width: 100%;
  padding: 10px;
}

div.elem-group.inlined input {
  width: 95%;
  display: inline-block;
}

textarea {
  height: 250px;
}

hr {
  border: 1px dotted #ccc;
}

button[type="submit"] {
  height: 50px;
  background: #2c50ff;
  border: 2px solid #2c50ff;
  color: white;
  font-size: 1.25em;
  font-family: Arial, sans-serif;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 48px;
  margin-left: 50px;
  width: 200px;
}

button[type="submit"]:hover {
  background: #2d468b;
}

.booking-form-wrapper.is_stuck {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  justify-content: center;
  width: 100% !important;
  padding: 0 0 10px 0;
  background: #eee;
  display: flex;
  left: 0;
}

.booking-form-wrapper.is_stuck form {
  max-width: 1080px;
}
